.bannerBgImage{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: Left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(40, 208, 224);
    
}
.bannerTitle{
    font-size: 4rem;
}
.bannerDesc{
    font-size: 2rem;
}

.card{
    cursor: pointer;
}

.card:hover{
    background-color: rgb(127, 255, 129);
    border: 4px solid red;
}

.bIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover{
    border: 4px solid blue;
}

.card-img-top{
    height: 50vh;
}